.Synergies {
  background-image: linear-gradient($fade1, $fade2), url('../../assets/images/synergy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  overflow: scroll;
  padding: $page-padding;

  h3 {
    color: $body-font-color;
    font-size: 1.5rem;
    margin: 0;
  }

  .display-synergies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
      margin: 1rem;
      width: 2rem;
    }
  }
}

.synergy-article {
  background-color: $modal-overlay;
  border: 1px solid $medium-bg;
  color: #83806d;
  font-size: .9rem;
  margin: 1rem;
  padding: .5rem;
  text-align: center;
  width: 10rem;
  transition: .5s;
  &:hover {
    cursor: pointer;
    background-color: $card-hover-bg;
    box-shadow: $card-hover-shadow;

    h3 {
      text-decoration: underline;
    }
  }

  img {
    margin: auto;
  }
}

.ReactModal__Overlay--after-open {
  background-color: $modal-overlay !important;
}

#Synergy-modal {
  width: 50%;
}

.display-synergy-modal {
  display: grid;
  grid-template-areas: ". . . x"
  ". info info ."
  ". champ champ .";
  grid-template-columns: .5fr 2fr 2fr .5fr;
  text-align: center;

  img {
    margin: auto;
    width: 3rem;
  }

  button {
    grid-area: x;
  }

  .syngery-info {
    grid-area: info;
  }

  .champ-syngery-matches {
    grid-area: champ;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
}