.Champions {
  background-image: linear-gradient($fade1, $fade2), url('../../assets/images/champs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding: $page-padding;

  h3 {
    color: $body-font-color;
    font-size: 1.5rem;
    margin: 0;
  }

  .display-champs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    overflow: scroll;
    height: 80vh;

    article {
      display: inline;
      margin: .75rem;
    }
  }
}

.Modal {
  background: $medium-bg;
  box-shadow: 2px 2px 2px darken($dark-bg, 20%);
  color: $btn-bg;
  height: 55%;
  margin: auto;
  padding: 1.5rem;
  position: relative;
  bottom: -20%;
  width: 65%;

  button {
    background-color: $dark-bg;
    border: 1px solid $btn-border;
    border-radius: 25px;
    color: $btn-bg;
    font-size: 1.25rem;
    grid-area: x;
    height: 3rem;
    width: 3rem;
  }

  .modal-display-champions {
    height: 50%;
  }

  .display-modal {
    display: grid;
    grid-template-areas:
    "img name cost x"
    "img class range ."
    "health stats stats ."
    "p-img p-info p-info .";
    grid-template-rows: .5fr .5fr .5fr 1.5fr;
    height: 200%;
    overflow: scroll;
  
    .modal-range {
      grid-area: range;
    }

    .modal-name {
      grid-area: name;
    }

    .modal-class-origin {
      grid-area: class;
      margin: auto;
    }
  
    .modal-cost {
      grid-area: cost;
      margin: auto;
    }

    .modal-health {
      grid-area: health;
    }

    .modal-stats {
      grid-area: stats;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .modal-thumbnail {
      grid-area: img;
      margin: auto;
    }

    .modal-p-thumbnail {
      grid-area: p-img;
      margin: auto;
    }

    .modal-p-name {
      grid-area: p-name;
    }

    .modal-p-info {
      grid-area: p-info;
    }

    h5 {
      font-weight: 400;
    }
  }
}
