.Champions {
  background-image: linear-gradient($fade1, $fade2), url('../../assets/images/champs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding: $page-padding;

  h3 {
    color: $body-font-color;
    font-size: 1.5rem;
    margin: 0;
  }
}