.images {
  width: 15%;
  height: 7rem;
}

.car-imgs {
  width: 4rem;
  height: 100%;
  transition: 1.5s;
  opacity: 0.7;
  filter: drop-shadow(2px 2px 9px #673AB7) drop-shadow(-2px -2px 17px white);
  &:hover {
    filter: drop-shadow(2px 2px 9px white) drop-shadow(-2px -2px 17px red);
    cursor: pointer;
    opacity: 1;
  }
}
