.Header {
  background-color: $dark-bg;
  border-top: 2px solid $static-accent;
  text-align: center;

  img {
    color: $static-accent;
    margin: auto;
    padding-top: 2px;
    width: 15rem;
  }
}