.Header {
  background-color: $dark-bg;
  border-top: 2px solid $static-accent;
  text-align: center;

  img {
    color: $static-accent;
    margin: auto;
    padding-top: 2px;
    width: 15rem;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 1.5rem;
    top: 1.5rem;

    &:focus {
      outline: $focus;
    }
  }
   
  .bm-burger-bars {
    background: $static-accent;
  }
   
  .bm-burger-bars-hover {
    background: $hover-accent;
  }
   
  .bm-cross-button {
    height: 1rem;
    width: 1rem;
  }
   
  .bm-cross {
    background: $static-accent;
  }

  .bm-menu {
    background: $dark-bg;
    border-right: 2px solid $static-accent;
    box-shadow: 3px 3px 3px $fade1;
    font-size: 1.15em;
    padding: 2.5em 1.5em 0;
  }

  .bm-item {
    color: $body-font-color;
    margin: 1rem auto;
    text-decoration: none;
    display: inline-block;

    &:hover {
      color: $static-accent;
      cursor: pointer;
      text-decoration: underline;
    }

    &:focus {
      outline: $focus;
    }
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
}