.Stats {
  display: grid;
  grid-template-areas: "img info";
  grid-template-columns: repeat(2, 1fr);
  margin: .5rem;
  height: 3rem;
  margin: 1rem .5rem;

  h5, h6 {
    margin: 0 auto;
    text-transform: capitalize;
  }

  img {
    grid-area: img;
    height: 3.5rem;
    margin: auto;
  }

  .stats-info {
    grid-area: info;
    display: inline-block;
    margin: 0 .5rem;
    text-align: left;
  }
}