// fonts
$body-font: 'Kanit', sans-serif;


// colors
$dark-bg: rgb(13, 20, 33);
$static-accent: rgb(186, 131, 44);
$hover-accent: rgb(8, 239, 240);
$fade1: hsla(0, 0%, 0%, 0.45);
$fade2: hsla(0, 0%, 0%, 0.65);

//animations