// fonts
$body-font: 'Kanit', sans-serif;


//sizes
$page-padding: 1rem;
$page-height: 100vh;

// colors

$dark-bg: rgb(2, 10, 18);
$medium-bg: rgb(12, 20, 39);
$modal-overlay: rgba(10, 18, 58, 0.50);
$static-accent: rgb(116, 91, 48);
$hover-accent: rgb(8, 239, 240);
$btn-bg: hsl(52, 10%, 42%);
$btn-border: hsl(52, 9%, 17%);
$body-font-color: lighten($btn-border, 30%);
$fade1: hsla(0, 0%, 0%, 0.35);
$fade2: hsla(0, 0%, 0%, 0.75);
$overlay: hsla(0, 0%, 100%, 0.2);
$cell-border: hsla(0, 0%, 100%, 0.6);
$focus: solid 1px $hover-accent;

//animations