.chosen-display {

  .choose-level {
    margin: auto;
    text-align: center;

    button {
      background-color: $btn-bg;
      border: 1px solid $btn-border;
      border-radius: 3px;
      color: darken($btn-border, 10%);
      display: block;
      font-size: .5rem;
      font-weight: bolder;
      height: 2vh;
      width: 2rem;

      &:hover {
        background-color: $static-accent;
        border: 1px solid $hover-accent;
        cursor: pointer;
      }
    }

    .add-level {
      margin: .5rem 0;
    }

    h2 {
      display: inline;
      font-size: 2rem;
      margin: 0 .5rem;
      text-align: center;
    }

    .level-btns {
      display: inline-block;
    }
  }

  .current-roster {
    display: grid;
    grid-template-areas: 'honey stats synergy';
    grid-template-columns: 50% 25% 25%;
    height: 60vh;

    article {
      text-align: center;
    }
  }

  .Honeycomb-section {
    grid-area: honey;
  }

  .team-stats {
    grid-area: stats;
  }

  .team-synergies {
    grid-area: synergy;
  }
}